.board-corner{
  width:100%;
  height:100%;
  margin:-3px;
  border:3px dotted #800;
  border-radius: 200%;
}
.board-corner>div{
  -webkit-transition: 2s;
  transition: 2s;
  width:100%;
  height:100%;
  border-radius: 200%;
  background: rgba(255,93,93,0.8);
  background: radial-gradient(
    circle,
    rgba(255,93,93,1) 0%,
    rgba(121,9,9,1) 30%,
    rgba(0,212,255,0) 100%
  );
}
#gameboard[turn="mine"] .board-corner>div{
  opacity: 0;
}
#gameboard[turn="your"] .board-corner>div{
  opacity: 1;
}
