#gamearea>.container{
  position:relative;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
.figure{
  -webkit-transition:0.1s;
  transition:0.1s;
  z-index: 10;
  position:absolute;
  width:12.5%;
  height:12.5%;
  min-width:12.5%;
  min-height:12.5%;
}
.figure[team="black"]:hover{
  box-shadow:
  	0 0 3px #0ff;
}
.figure[team="white"]:hover{
  box-shadow:
  	0 0 3px #f00;
}
.figure.selected[team="black"]{
  background-color:#0ff8;
  box-shadow:
  	1px 1px 0 #8ff,
    -1px 1px 0 #8ff,
    1px -1px 0 #8ff,
    -1px -1px 0 #8ff;
}
.figure.selected[team="white"]{
  background-color:#f008;
  box-shadow:
    1px 1px 0 #800,
    -1px 1px 0 #800,
    1px -1px 0 #800,
    -1px -1px 0 #800;
}
.figure[team="white"]{

}
.figure[team="black"]{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: invert(1);
}
.figure[position^="A"], .possible-move[position^="A"]{left:0}
.figure[position^="B"], .possible-move[position^="B"]{left:12.5%}
.figure[position^="C"], .possible-move[position^="C"]{left:25%}
.figure[position^="D"], .possible-move[position^="D"]{left:37.5%}
.figure[position^="E"], .possible-move[position^="E"]{left:50%}
.figure[position^="F"], .possible-move[position^="F"]{left:62.5%}
.figure[position^="G"], .possible-move[position^="G"]{left:75%}
.figure[position^="H"], .possible-move[position^="H"]{left:87.5%}

.figure[position$="1"], .possible-move[position$="1"]{bottom:0}
.figure[position$="2"], .possible-move[position$="2"]{bottom:12.5%}
.figure[position$="3"], .possible-move[position$="3"]{bottom:25%}
.figure[position$="4"], .possible-move[position$="4"]{bottom:37.5%}
.figure[position$="5"], .possible-move[position$="5"]{bottom:50%}
.figure[position$="6"], .possible-move[position$="6"]{bottom:62.5%}
.figure[position$="7"], .possible-move[position$="7"]{bottom:75%}
.figure[position$="8"], .possible-move[position$="8"]{bottom:87.5%}

.possible-move{
  z-index: 100;
  -webkit-transition:0.1s;
  transition:0.1s;
  position:absolute;
  width:12.5%;
  height:12.5%;
  min-width:12.5%;
  min-height:12.5%;
}
.possible-move>div{
  width:100%;
  height:100%;
  background: #f006;
}
