#gameboard *[chess-north]{
  height:5% !important;
  top:0 !important;
}
#gameboard *[chess-west]{
  width:5% !important;
  left:0 !important;
}
#gameboard *[chess-east]{
  width:5% !important;
  left:95% !important;
}
#gameboard *[chess-south]{
  height:5% !important;
  top:95% !important;
}
#gameboard>*{
  margin:0;
  padding:0;
  position:absolute;
}
#gameboard{
  position:relative;
}
#clocks{
  position:absolute;
  bottom:0;
  width: 100%;
  z-index:900;
}
#gametable, #gamearea{
  margin:0;
  padding:0;
  top:5%;
  left:5%;
  min-width:90%;
  min-height:90%;
  width:90%;
  height:90%;
}
