@import "game-board.css";
@import "game-table.css";
@import "board-corner.css";
@import "board-signs.css";
@import "figures.css";
@import "clocks.css";
@import "menu.css";
@import "info-dialog.css";
body{
  background: black;
}
@media only screen and (max-width: 100vh) {
  .clock-container{
    display: inline-block;
  }
  #clocks{
    width:100%;
    text-align: center;
    position:absolute;
    bottom:30px;
    left:0;
  }
  #gameboard{
    width:80vw;
    height:80vw;
    margin:1vw auto;
    padding:2vw;
  }
}
@media only screen and (max-height: 100vw) {
  .clock-container{
    display: block;
  }
  #clocks{
    position:absolute;
    top:0;
    left:0;
    width: 120px;
    text-align: left;
  }
  #gameboard{
    width:80vh;
    height:80vh;
    margin:1vh auto;
    padding:1vh;
  }
}

*[hide]{
  display: none;
}
*[show]{
  display:block;
}
footer{
  position:fixed;
  bottom:0;
  right:0;
  color:#555;
  z-index:1000;
  font-family: fantasy;
  padding:5px;
}
